.cards{
    max-width: 1185px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards > h2{
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    margin: 20px 0px 60px 0px;
    font-size: 44.8px;
    line-height: 1.2;
}

.cardBox{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    margin: 20px 0;
}

.card .inner{
    margin: 0 5.76%;
    padding: 50px 30px;
    background-image: linear-gradient(rgb(255, 255, 255) 75%, rgba(175, 171, 123, 0.08) 100%);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgb(175 171 123 / 30%) 0px 10px 24px 8px;
    text-align: center;
    height: 100%;
}

.card .top a{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 160px;
    align-self: center;
    color: #f9d400;
}

.card .top a:hover{
    color: #fff00f;
}

.btn{
    margin: 60px 0 60px 0;
}

.bottom{
    margin-top: 30px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}

.icon-allwet-floor-sign-cleaning-warning::before{
    content: "\e99c";
}

.card .top a.icon-cleanwahadlo-ikona{
    font-family: 'atse';
}

.icon-cleanwahadlo-ikona:before{
    content: "\e900";
}

.icon-allPIANO:before{
    content: "\e980";
}

.icon-allwindow-cleaning-clean-housekeeper:before{
    content: "\e99f";
}

.icon-allWIPER:before{
    content: "\e9a4";
}

.icon-allMEGAPHONE:before{
    content: "\e977";
}
@media (max-width: 1024px){
    .card .top a{
        font-size: 80px;
    }
}

@media (max-width: 880px){
    .card{
        width: 50%;
    }
}

@media (max-width: 600px){
    .card{
        width: 100%;
    }
}
