.bannerInner{
  display: flex;
  justify-content: space-between;
}

.bannerInner .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.bannerInner .left.self{
  width: 66.67%;
}

.bannerInner .center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bannerInner h1{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1;
  color: white;
  letter-spacing: -1px;
  margin: 0;
}

.bannerInner .self h1{
  margin: 10px 0;
  color: #191919;
}

.bannerInner h2, .headerBarInner p{
  margin: 10px 0 40px 0;
  font-size: 1.7em;
  line-height: 1.2;
  color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -1px;
  font-style: normal;
}

.home .bannerInner h2{
  max-width: 540px;
}

.bannerInner p{
  font-size: 1.7rem;
  line-height: 1.2;
  color: #191919;
  margin: 27px 0;
}

.bannerInner a, .headerBarInner a, .pageBody a{
  width: auto;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  background: #fff00f;
  border-color: #ffffff;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  border-width: 0px;
  border-style: solid;
  border-radius: 50px;
  text-transform: uppercase;
  color: #282828;
}

.bannerInner a:hover, .pageBody a:hover{
  background: #f9d400;
}

.bannerInner .link{
  margin-top: 10px;
}

.headerBarInner a{
  font-size: 12px;
  background: #f9d400;
  padding: 9px 20px;
  margin-right: 30px;
}

.headerBarInner a:hover{
  background: #fff00f;
}

.headerBar{
  height: 52px;
  background-color: #3f3f3f;
}

.headerBarInner{
  max-width: 1185px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.footerBar{
  height: 80px;
  background-color: #3f3f3f;
}

.pageBody{
  display: flex;
  max-width: 1185px;
  margin: auto;
  margin-top: -30px;
  transform: translateY(-20px);
}

.pageBody .left{
  width: 66.67%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 70px;
}

.pageBody .left img{
  width: 100%;
  margin-bottom: 50px;
}

.pageBody .left h2, .pageBody .right h2{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -1px;
  font-style: normal;
  font-size: 27px;
  color: #3f3f3f;
  margin-bottom: 0;
}

.pageBody .left p, .pageBody .right p, .pageBody.left td, .pageBody .left tr{
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 16px;
  color: #3f3f3f;
}

.pageBody .left .link{
  display: flex;
  justify-content: center;
}

.pageBody .right{
  width: 33.33%;
  padding-right: 30px;
  padding-left: 10px;
}

.pageBody .decorImg, .pageBody .selection{
  border-radius: 8px;
}

.pageBody .selection{
  background-color: #cccccc;
  padding: 40px;

}

@media (max-width: 1024px){
  .bannerInner .left{
    width: 50%;
  }
  .pageBody{
    flex-direction: column;
  }
  .pageBody .left{
    width: auto;
  }
  .pageBody .right{
    width: 50%;
    margin-left: 30px;
  }
  .bannerInner .left.self{
    width: auto;
  }
  .bannerInner .left.self{
    padding-bottom: 50px;
  }
  .bannerInner .left.self h1{
    font-size: 3.8rem;
  }
  .bannerInner h1{
    font-size: 3rem;
  }
}

@media (max-width: 850px){
  .bannerInner h1{
    font-size: 2.5rem;
  }
}

@media (max-width: 725px){
  .pageBody .right{
    width: auto;
  }
  .bannerInner h1{
    font-size: 2rem;
  }
  .bannerInner .left p{
    font-size: 1.3rem;
  }
}

@media (max-width: 640px){
  .bannerInner .left{
    width: 100%;
    margin-bottom: 60px;
  }
  .bannerInner h1{
    font-size: 2.5rem;
    color: #3f3f3f;
  }
  .bannerInner .left.self h1{
    font-size: 3rem;
  }
  .bannerInner .center h1{
    color: white;
  }
}

@media (max-width: 425px){
  .bannerInner h1{
    font-size: 2rem;
  }
  .bannerInner .left.self h1{
    font-size: 2.5rem;
  }
  .bannerInner a{
    font-size: 12px;
    padding: 13px 15px;
  }
  .pageBody .right, .pageBody .left{
    /* margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0; */
  }
}

@media (max-width: 375px){
  .bannerInner h1{
    font-size: 1.8rem;
  }
  .bannerInner .left.self h1{
    font-size: 2rem;
  }
}