.bannerInner{
  display: flex;
  justify-content: space-between;
}

.bannerInner .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.bannerInner .center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bannerInner h1{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1;
  color: white;
  letter-spacing: -1px;
  margin: 0;
}

.bannerInner h2{
  margin: 10px 0 40px 0;
  font-size: 1.7em;
  line-height: 1.2;
  color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -1px;
  font-style: normal;
}

.bannerInner a, .headerBarInner a{
  width: auto;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  background: #fff00f;
  border-color: #ffffff;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  border-width: 0px;
  border-style: solid;
  border-radius: 50px;
  text-transform: uppercase;
  color: #282828;
}

.bannerInner a:hover{
  background: #f9d400;
}

.headerBarInner a{
  font-size: 12px;
  background: #f9d400;
  padding: 9px 20px;
  margin-right: 30px;
}

.headerBarInner a:hover{
  background: #fff00f;
}

.headerBar{
  height: 52px;
  background-color: #3f3f3f;
}

.headerBarInner{
  max-width: 1185px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.footerBar{
  height: 80px;
  background-color: #3f3f3f;
}